<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiya.mapper.CustomerNoteMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yiya.bean.CustomerNote" >
	<result column="note_id" property="note_id"/>
	<result column="note_time" property="note_time"/>
	<result column="note_content" property="note_content"/>
	<result column="note_person" property="note_person"/>
	<result column="customer_id" property="customer_id"/>
</resultMap>

<!-- Result Map-->
<resultMap id="productcontroll" type="com.yiya.bean.product_controll" >
	<result column="pz_id" property="pz_id"/>
	<result column="pz_good_name" property="pz_good_name"/>
	<result column="pz_good_place" property="pz_good_place"/>
	<result column="pz_good_level" property="pz_good_level"/>
	<result column="pz_good_size" property="pz_good_size"/>
	<result column="market_prices" property="market_prices"/>
	<result column="pledge_multiplier" property="pledge_multiplier"/>
</resultMap>


<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  
  insert into customer_note(note_time,note_content,note_person,customer_id)
  values(now(),#{note_content},#{note_person},#{customer_id})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update customer_note set
   note_content= #{note_content},
   note_person= #{note_person},
   note_time= now()
   where 
   note_id=#{note_id}

 </update>
 


<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete from customer_note where  
	note_id=#{note_id}

</delete>
 
<!-- 根据id查询 系统用户 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select *
	 from customer_note where 
	 <if test="note_id != null  and note_id != '' ">
		note_id=#{note_id} 
	</if>
	
</select>

<!-- 根据id查询 系统用户 -->
<select id="queryMaxId"  resultMap="BaseResultMap" parameterType="Object">
	SELECT * FROM (SELECT * FROM customer_note s WHERE
	customer_id=#{customer_id}) AS a
    WHERE note_id=(SELECT MAX(note_id) FROM customer_note WHERE customer_id=#{customer_id})
	</select>

<!-- 系统用户 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from customer_note where customer_id=#{customer_id} 
	
</select>
  	
<!-- 查询系统用户列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select *
	from customer_note where customer_id=#{customer_id}  order by note_id desc
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
<!-- 查询系统用户配置列表 -->
<select id="querypzgoods" resultMap="productcontroll"  parameterType="Object">
	select * 
	from pz_good where pz_good_place in (#{pz_good_place},2468)  and pz_good_level in (#{pz_good_level},2468)
	and pz_good_size in (#{pz_good_size},0)
	limit 0,1
</select>

<!-- 查询库存配置列表 -->
<select id="queryStockgoods" resultMap="productcontroll"  parameterType="Object">
	SELECT * FROM pz_good pz LEFT JOIN tab_stock_comment tc ON
pz.pz_good_name=tc.good_name_comment  AND 
pz.pz_good_place in (tc.good_place_comment,2468) AND
pz.pz_good_level in (tc.good_level_comment,2468) AND
pz.pz_good_size in (tc.good_size_comment,0)

WHERE stock_id=#{pz_id}
limit 0,1
</select>
  	
  	
</mapper>   
