<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiya.mapper.GatherTypeMapper">

	<select id="queryAll" resultType="com.yiya.bean.GatherType">
	     SELECT
	        *
	     FROM
	        gather_type
	</select>
	
	
	<select id="queryByCondition" resultType="com.yiya.bean.GatherType">
	     SELECT
	        *
	     FROM
	        gather_type
	     <where>
	       <trim suffixOverrides=",">
			<if test="gather_type_id != null">
				and gather_type_id = #{gather_type_id}
			</if>
			<if test="gather_type_name != null">
				and gather_type_name = #{gather_type_name}
			</if>
		</trim>
	    </where>
	</select>
	
</mapper>   
